{
    "format": "prettier --write \"src/**/*.{js, jsx}\"",
    "tabWidth": 4,
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "plugins": ["prettier-plugin-tailwindcss"],
    "trailingComma": "none"
}
